body {
    color: white; /* Cor do texto do corpo */
    background: black;
    margin: 0px;
    font-family: "Audiowide", serif;
}

header {
    border-bottom: solid 2px white; /* Cor da borda do cabeçalho */
    padding: 20px;
    font-size: 32px;
    color: white; /* Cor do texto do cabeçalho */
}

.titulo {
    .white { color: white; }
    .blue { color: blue; }
    .red { color: red; }
}

.background {
    background: url('bg-desktop.gif');
}

.chamada {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px white; /* Cor da borda */
}

.video {
    border: solid 2px white; /* Cor da borda do vídeo */
}

.chamada-texto {
    margin-right: 5%;
}

.typewriter {
    display: inline-block;
    white-space: nowrap;
}

.text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: white; /* Define a cor do texto */
}

.cursor {
    display: inline-block;
    color: white; /* Define a mesma cor do texto */
    animation: blink-caret 0.7s step-end infinite;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    scrollbar-color: white black; /* Cor da barra de rolagem */
    scrollbar-width: thin;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid white; /* Cor da borda das imagens ao passar o mouse */
}

.categoria h2 {
    color: white; /* Cor do texto do título das categorias */
}

.copyright {
    font-size: 50px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto do rodapé */
}